@model Web_Java_Project.Models.Project

@{
    ViewBag.Title = WJP_Resources.Lang.ProjectLibrary;
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<h2>@WJP_Resources.Lang.ProjectLibrary</h2>
<br />

@using (Html.BeginForm("Library", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file"/>
    <input type="submit" value="@WJP_Resources.Lang.ProjectFileUpload" />
}
@if (ViewBag.FileTypeError != null)
{
    @ViewBag.FileTypeError
}
<br /><br />

<table class = "FileTable">
    <tr>
        <th>
            @WJP_Resources.Lang.ProjectFileName
        </th>
        <th>
            @WJP_Resources.Lang.ProjectFileCreatedDate
        </th>
        <th>
            @WJP_Resources.Lang.ProjectFileCreatedBy
        </th>
    </tr>

@foreach (var sFile in Model.LibraryFiles) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => sFile.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => sFile.AddedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => sFile.Adder.UserName)
        </td>
        <td>
            @Html.ActionLink(WJP_Resources.Lang.ProjectFileDelete, "DeleteLibrary", new { ID = Model.ProjectID, fileID = sFile.FileID })
        </td>
        <td>
            @Html.ActionLink(WJP_Resources.Lang.ProjectFileDownload, "Download", new { ID = Model.ProjectID, fileName = "/Library/" + sFile.FileName })
        </td>
    </tr>
}

</table>
